.crystal-image {
    width: 300px;
    height: 300px;
  }
body {
    background-image: url("../images/sayagata.png");
    
}
#jumboHeader {
    background: url("../images/congruent_pentagon.png");
    background-size: 70%;
}
.col-md-6 {
    border: 1px dotted gainsboro;
}
.col-md-3 {
    border: 1px dotted gainsboro;
}
.col-md-12 {
    text-align: center;
}
#currentWord, #lettersRemaining, #lettersGuessed, #numLoss, #numWins {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
}
p, h3, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h4, h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: oblique;
    color: darkorange;
}
