
body {
    background-image: url("../images/sayagata.png");
    
}
#jumboHeader {
    background-image: url("../images/congruent_pentagon.png");
}
.col-md-3 {
    text-align: center;
}
.col-md-12 {
    text-align: center;
}
#currentWord, #lettersRemaining, #lettersGuessed, #numLoss, #numWins {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}
h1, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: darkorange;
}
#num-wins, #num-loss {
    color: brown;
}
#winning-number, #current-score {
    padding: 0 0 10px 0;
    color: darkolivegreen;
    font-size: 28px;
}
img:hover {
    opacity: 0.7;
}
